doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(property='og:title' content='Foodstagram')
  meta(property='og:description' content='Share your favorite food photos with your friends!')
  meta(property='og:url' content='{% block url %}{% endblock %}')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Monoton:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Bungee:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='shortcut icon' href='favicon.ico')
  - if assetsName
    link(lang='sass' rel='stylesheet' href='/css/#{assetsName}.css')
  title=title
  
body(onload=('checkModals(' + mod_num + ')'))
  header
    .header-center
      div
        a.logo(href="{{ url_for('index') }}") FOODSTAGRAM
      .header-buttons
        if username
          a.username(href='{{ url_for("userApi", username=username) }}')= username
          button
            a(href='{{ url_for("logout") }}') Log Out
        else
          button#sign-up Sign Up
          button#log-in Log In
  block content
  #modal.modal
    .modal-content
      span.close &times;
      form#sign-up-form(action='{{ url_for("register") }}' method='POST' onsubmit='submitForm')
        h3 Sign up
        if msg
          p.message= msg
        input(type='text' name='username' placeholder='username')
        br
        input(type='password' name='password' placeholder='password')
        br
        button Submit
      form#log-in-form(action='{{ url_for("login") }}' method='POST' onsubmit='submitForm')
        h3 Log In
        if msg
          p.message= msg
        input(type='text' name='username' placeholder='username')
        br
        input(type='password' name='password' placeholder='password')
        br
        button Submit

script(src='/js/#{assetsName}.js')
