extends base

block content
  #new-post-modal
    form#new-post(action="/createPost" method="post" enctype="multipart/form-data")
      input(type="hidden" id="cp-return-url" name="returnURL")
      input(type="text" id="cp-title" name="title" placeholder="Title" required)
      label(for="cp-image-src") Upload an image
      input(type="file" id="cp-image-src" name="imageSrc" accept="image/png, image/jpeg" required)
      #cp-image-uploaded
      textarea(type="text" id="cp-caption" name="caption" placeholder="Caption" rows="2" maxlength="100" required)
      input(type="submit" id="cp-submit")
  #content.container
    header.header-profile
      .details
        //- img.profile-pic(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTakSD1xNifdNXl-8X_V3eB6NEYbqWc5w2MMg&usqp=CAU' alt='John Doe')
        img.profile-pic(src='#{user.pfpSrc}' alt='John Doe')
        h1.heading=user.username
        if user.username == username
          button#new-post-button Add Post
        else
          if following
            form(action='{{ url_for("unfollow", username=user.username) }}' method="post")
              button.follow(type="submit") Unfollow
          else
            form(action='{{ url_for("follow", username=user.username) }}' method="post")
              if username
                button.follow(type="submit") Follow
              else
                button.follow(type="submit" disabled) Follow
        .stats
          .col-4
            h4 {{user.posts|length}}
            p Posts
          .col-4#followers
            h4 {{user.followers|length}}
            p Followers
          .col-4#following
            h4 {{user.following|length}}
            p Following
    #follow-modal.modal
      .f-modal-content
        #following-div
          h3 Following
          .overflow
            if user.following|length
              each u in user.following
                a.f-list(href='{{ url_for("userApi", username=u) }}')= u
                p
            else
              p No one yet!
        #followers-div
          h3 Followers
          .overflow
            if user.followers|length
              each u in user.followers
                a.f-list(href='{{ url_for("userApi", username=u) }}')= u
            else
              p No one yet!
  main
    .grid
      each post in posts
        .post(onclick=('postClick("' + post['imageData'] + '","' + post['title'] + '","' + post['caption'] + '","' + post['user'] + '")'))
          img(src=post['imageData'] alt=post['title'])
    
    #pmodal.modal
      .post-modal
        span.close &times;
        a#puser(href="{{ url_for('index') }}") username
        #pgrid.grid
          .post
            img#pimg(src="" alt="hoho")
        p#ptitle title
        p#pcaption caption
